title: Mindfullness with Meka

include: [_pages, _products]


plugins:
  - jekyll-feed
  - jekyll-sitemap

sass:
  sass_dir: _sass

collections:
    products:
      output: true
      # layout: product
      permalink: /shop/:title/


defaults:
  -
    scope:
      type: posts
      path: _posts
    values:
      is_post: true
      layout: post
      permalink: /blog/:year/:month/:day/:title/
  -
    scope:
      type: pages
      path: _pages
    values:
      is_post: false
      permalink: /:title/
  -
    scope:
      path: ""
    values:
      layout: product


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
