---
---

$primary: #00A6A6;
$secondary: purple;
$border-design-color: $secondary;
$border-design-image: linear-gradient(45deg, $primary, $secondary) 1; 

.container {
    padding-top: 5px;
}
nav {
    background-image: linear-gradient(to right, $primary , $secondary);
    opacity: 0.85;
}

.navbar-brand {
    color: $secondary !important;
}

li {
    border-color: $border-design-color !important;
}
a {
    text-decoration: none;
    color: $primary !important;
}
.card-item {
    border-color: $border-design-color !important;
    border-style: solid;
    border-width: 1px;
    word-wrap: break-word;
}

.custom-bg-secondary {
    background-color: $secondary !important;
}

.content {
    min-height: 90vh;
    margin-top: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: .25rem !important;
    border-color: $border-design-color !important;
    position: relative;
}

.content-bottom {
    position: absolute;
    bottom: 0;
}