<!DOCTYPE html>
<html lang=en>

<head>
    {% include head.html %}
    <style>
        img {
            /* Gray border */
            border: 1px solid #ddd;

            /* Rounded border */
            border-radius: 4px;

            /* Some padding */
            padding: 5px;

            /* Set a small width */
            width: 150px;

            display: block;
        }

        img:hover {
            box-shadow: 0 0 2px 1px lightgray;
        }
    </style>
</head>

<body>

    {% include nav.html %}

    <div class="container">{{page.content | markdownify}}</div>

    <!-- Bootstrap JS w/ Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>